node_modules/
/playwright-report/
/src/artifacts/logs/rfstransfer.log
/src/artifacts/report/
/src/artifacts/screenshots/*/
/src/artifacts/screenshots/.last-run.json
/src/report.zip
/playwright/.cache/
.idea
.env
